// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
	background: #f3f3f3 !important;
	padding-bottom: 300px;
}
.header {
	border-bottom: 1px solid #c5c5c5;
	.header__target-logo {
		img {
			height: 45px;
			padding: 15px;
		}
		.header__order-number {
			p {
				padding-top: 32px;
				padding-right: 20px;
				color: $p-color;
			}
		}
	}
}
.order-confirmation {
	h1 {
		color: $t-red;
		font-weight: 600;
		text-align: center;
		font-size: 38px;
		padding: 20px 0;
	}
	h2 {
		font-weight: 600;
		color: $h2-color;
		text-align: center;
	}
	img {
		height: 160px;
		text-align: center;
		margin: 0 auto;
		padding-bottom: 50px;
		padding-top: 20px;
	}
}
.total {
	border-bottom: 1px solid #c5c5c5;
	border-top: 1px solid #c5c5c5;

	.total-paid {
		h3 {
			font-weight: 600;
			padding-top: 25px;
			padding-bottom: 25px;
			padding-left: 10px;
			color: $h2-color;
		}
	}
	.total-amount {
		font-weight: 600;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-right: 10px;
		color: $h2-color;
	}
}
.barcode {
	& > tbody > tr > th > table > tbody > tr > th {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	h5 {
		font-size: 13px;
		font-weight: 600;
		text-align: center;
		margin: 0 auto;
	}
	img {
		margin: 0 auto;
		padding-top: 5px;
		padding-bottom: 10px;
	}
	p {
		text-align: center;
		padding-bottom: 10px;
	}
}
.any-issues {
	background: #edeeef;
	background-color: #edeeef;
	& > tbody > tr > td > table > tbody > tr > th {
		background: #edeeef;
		background-color: #edeeef;
	}
	h2 {
		font-weight: 600;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.fix-issues {
	& > tbody > tr > td > table > tbody > tr > th {
		padding-bottom: 20px;
	}
	& > tbody > tr > td > table > table > tbody > tr > th {
		padding-bottom: 50px !important;
	}
	.button-section {
		padding-bottom: 30px;
	}
	p {
		color: $p-color;
		line-height: 24px;
		text-align: center;
		padding-top: 40px;
		padding-bottom: 20px;
	}
	.button {
		color: $p-color;
		border: 1px solid $p-color;
		border-radius: 5px;
		padding: 15px 20px;
		text-align: center;
	}
}
.items-picked-up {
	background: #edeeef;
	background-color: #edeeef;
	& > tbody > tr > td > table > tbody > tr > th {
		background: #edeeef;
		background-color: #edeeef;
	}
	h2 {
		font-weight: 600;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.item {
	& > tbody > tr > td > table > tbody > tr > th {
		// padding-top: 30px;
		// padding-bottom: 0;
	}
	img {
		width: 175px;
		padding: 30px;
	}
	.item-description {
		padding-top: 60px !important;
	}
	a {
		font-size: 19px;
		font-weight: bold;
		color: #2d2d2d;
		padding-top: 40px !important;
	}
	p {
		padding-top: 20px;
	}
}
.order-details {
	a {
		color: $p-color;
		border: 1px solid $p-color;
		border-radius: 5px;
		padding: 15px 35px;
		text-align: center;
	}
	.button-section {
		padding-bottom: 70px !important;
		padding-top: 30px !important;
		border-bottom: 1px solid #c5c5c5;
	}
}
.footer-links {
	& > tbody > tr > th > table > tbody > tr > th {
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: center;
	}
	a {
		// padding: 0 10px;
		color: $p-color;
		font-size: 13px;
		text-align: center !important;
	}
}
.target-copyright {
	a {
		color: $p-color;
		padding-bottom: 10px;
		text-align: center;
		font-size: 16px;
		span {
			color: $t-red;
		}
	}
	p {
		color: $p-color;
		text-align: center;
		padding-top: 5px;
		font-size: 13px;
		padding-bottom: 20px;
	}
}
