<!-- ====Header===== -->
<container class="header">
	<row class="header__target-logo">
		<columns>
			<row>
				<columns>
					<img
						src="https://ci3.googleusercontent.com/proxy/XuXp3myLV_udL9C0NVjDq6FN-VvKfuZlnrBeBogGT-PgbYhZqShX3iWSwVWjwFcKWK7ud3G1za0AE7hDKBVCIo8pgE4s9Sy8H7daTqJO26mrXe20Ww5VAFub0iQn0ysgyByEn05ZCuHBkA=s0-d-e1-ft#https://target.scene7.com/is/image/Target/bullseye_email?scl=1&wid=150&hei=150&&fmt=gif"
						alt="target logo"
					/>
				</columns>
			</row>
		</columns>
		<columns>
			<row class="header__order-number">
				<columns>
					<p class="order-number text-right">Order # 9167891570569</p>
				</columns>
			</row>
		</columns>
	</row>
	<row> </row>
</container>
